@reference "./../../../../../styles.css";

/* === Drag & Drop Styles === */
.cdk-drag-preview {
  @apply box-border bg-white border-t border-primary p-2 text-primary bg-gradient-to-b from-primary/10 to-primary/10 animate-ease-out animate-duration-100 animate-fill-mode-forwards animate-[fade-in-shadow];
}

.cdk-drag-placeholder {
  @apply opacity-0;
}

.cdk-drag-animating {
  @apply transition-transform duration-250 ease-[cubic-bezier(0,0,0.2,1)];
}

/* === Drag List Styles === */
.drag-list.cdk-drop-list-dragging .drag-item:not(.cdk-drag-placeholder) {
  @apply transition-transform duration-250 ease-[cubic-bezier(0,0,0.2,1)];
}

.drag-list.cdk-drop-list-dragging {
  @apply animate-[spacing-tabs] animate-duration-200 ease-out animate-fill-mode-forwards;
}

.drag-list.unspacing {
  @apply animate-[unspacing-tabs] animate-duration-200 ease-in animate-fill-mode-forwards;
}

/* === Scrollbar Hide === */
.drag-list::-webkit-scrollbar {
  @apply hidden;
}

.drag-list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* === Animations === */
@keyframes fade-in-shadow {
  from {
    box-shadow: none;
  }
  to {
    box-shadow:
      0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 3px 14px 2px rgba(0, 0, 0, 0.12),
      0 -2px 10px 1px #7b61ff96;
  }
}

@keyframes spacing-tabs {
  from {
    gap: 0;
  }
  to {
    gap: 2px;
  }
}

@keyframes unspacing-tabs {
  from {
    gap: 2px;
  }
  to {
    gap: 0;
  }
}
